# OS files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
*.tar

# IDE
.vscode/
.idea/
